@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

.layer-one {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.main-container {
    color: #ECF3F7;
}

.layer-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.01em;
    margin-bottom: 2.5em;
}

.layer-label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
}

body {
    font-family: 'Nunito Sans';
    max-height: 100vh;
}

.form-control {
    background: #ECF3F7;
    border-radius: 4px;
}

.form-group-layer {
    width: 280px;
    height: 318px;
}

@media only screen and (max-width:991px) {
    .form-group-layer {
        width: 17em;
    }

    .btn-rentpaid {
        width: 17em !important;
    }

    .one-layer {
        width: 18em !important;
    }
}

.one-layer {
    width: 22em;
    background-color: #174865;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.forget-pass {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #ECF3F7;
}

.forget-pass:hover {
    color: lightgrey;
}

.btn-rentpaid {
    width: 280px;
    height: 40px;
    left: 43px;
    top: 644px;

    background: #F7C50D;
    border-radius: 4px;
}

.layer-two {
    position: absolute;
    width: 21.4em;
    height: 95vh;
    left: 24px;
    top: 24px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #F7C50D;
    z-index: -3;
}

.main-logo {
    height: 100vh;
    padding-top: 10vh;
}

.row-sm {
    display: flex;
    max-height: 640px;
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
}

.logo-sm {
    display: flex;
    align-items: center;
    height: 254px;
}

.layer-sm-one {
    display: flex;
    justify-content: start;
    padding-top: 4em;
    align-items: center;
    height: 100vh;
}

.bg-rentpaid {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #174865;
}

.layer-two-sm {
    margin-left: 2vh;
    margin-right: 2vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 19px;
    background: #F7C50D;
}

.main-container-sm {
    color: #ECF3F7;
}

.bg-header {
    display: flex;
    align-content: center;
    width: 187px;
    height: 38px;
    background: #F7C50D;
    border-radius: 6px;
}

.text-header {
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 13px;
}

.head-title {
    margin-bottom: 2.2rem;
}

.head-text {
    margin-bottom: 1.2rem;
}

.btn-primary {
    background-color: #3895CC !important;
    border-color: rgb(60, 148, 199) !important;
}

.btn-primary:hover {
    box-shadow: 0 8px 25px -8px rgb(60, 148, 199);
}

.modal-nav {
    position: absolute;
    background: #F7F7F7;
    width: 595px;
    right: 0px;
    top: 0px;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid rgba(34, 41, 47, 0.2);
    border-radius: 0.6rem;
    outline: 0;
}

.modal-nav-dialog {
    max-width: 500px;
    margin: auto;
    margin-bottom: 1.75rem;
}

.modal-nav-body {
    padding-left: 40px;
    padding-right: 40px;
}

.modal-nav-header {
    padding: 25px 40px 20px 40px !important;
    background: #Fff !important;
    border-bottom: 1px solid #CCD8DE !important;
}

.dropzone {
    min-height: 150px;
}

.form-control {
    background: #fff;
}

.form-control:focus {
    border-color: #3895CC;
}

.clr-blue {
    color: #3895CC;
}

.map-section {
    width: 515px;
    height: 266px;

    background: url(./back.png);
    border-radius: 6px;
}

table.data-list-view.dataTable,
table.data-thumb-view.dataTable {
    padding: 0px;
}

.data-list-view-header .table-responsive .top,
.data-thumb-view-header .table-responsive .top {
    padding: 0px;
}

.data-list-view-header .add-new-data-sidebar .add-new-data,
.data-thumb-view-header .add-new-data-sidebar .add-new-data {
    width: 43.57rem;
}

.data-list-view-header .add-new-data-sidebar .add-new-data .new-data-title,
.data-thumb-view-header .add-new-data-sidebar .add-new-data .new-data-title {
    padding-bottom: 1.54rem;
}

a.router-link-exact-active.router-link-active {
    background: rgba(247, 197, 13, 0.4);
    border-radius: 4px;
}

ul>li>a.router-link-active.antidup {
    background-color: transparent !important;
}
